@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #09090b;
  --foreground: #fafafa;
  /* Keeping minimal variables */
  --primary: #10b981;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

@layer utilities {
  .animate-float {
    animation: float linear infinite;
  }
}

@keyframes float {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }

  33% {
    transform: translate(30px, -50px) rotate(10deg);
  }

  66% {
    transform: translate(-20px, 20px) rotate(-5deg);
  }

  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}